<ion-view view-title="Dashboard" class="background-dark">
    <ion-content class="padding">
        <div class="list card">
            <div class="item item-divider">Alerts</div>
            <div class="item item-body">                   
                       <ion-item>Water main upgrades are scheduled for your area on July, 1. Expect service interuptions during the hours of 12:00am and 3:00am on this day.</ion-item>
                       <ion-item>Your water meter reading is due in 2 days.</ion-item>
                </div>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">My Account</div>
            <div class="item item-body">
                <div>
                    <ul>
                       <li>Manage my account</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Upcoming</div>
            <div class="item item-body">
                <div>
                    Today - your service call is scheduled for 1:00pm
                </div>
            </div>
        </div>
        <div class="list card" ng-show="lastMeterRead.serviceAddress1 < 0">
            <div class="item item-divider">Latest Meter Reads</div>
            <div class="item item-body">
                <div>
                    <img ng-src="{{ lastPhoto }}" style="max-width: 100%">
                </div>
                <div>Service Address:</div>
                <div>
                    {{ lastMeterRead.serviceAddress1}}<br />
                    {{ lastMeterRead.serviceAddress2}}
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
