/* Empty. Add your own CSS if you like */
.bar-aqua {
    background-color: #3AE5E5;
}

.bar-aqua-dark {
    background-color: #207F7F;
}

.background-dark {
    background-color: rgb(102, 102, 102);
}